main {
  padding: 0 150px;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  font-weight: 300;
  font-size: 4rem;
}

h2 {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.6;
}
