@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #151515;
  font-family: Merriweather, serif;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
}

.work {
  padding-top: 15px;
  text-align: center;
  font-size: 28px;
}

.contact {
  text-decoration: none;
  background-color: gold;
  color: black;
  padding: 5px 12px;
  border-radius: 2px;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  align-self: center;
}
