body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #151515;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

main {
	margin-top: 75px;
	padding: 0 450px;
}

h1 {
	font-size: 56px;
}

.contact {
	display: flex;
}

.contact a:hover {
	color: #ff505a;
}

.contact a {
	text-decoration: none;
	color: #fafbfc;
}

.separator {
	padding: 0 15px;
}

.about {
	margin-bottom: 16px;
	padding-right: 32px;
	opacity: 0.6;
	color: #d8d8d8;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.5px;
	line-height: 1.5;
}

.about p {
	margin-top: 12px;
}
p span {
	opacity: 1;
}

.experience {
	margin-top: 25px;
}

.color-separator {
	border: 1px solid #ff505a;
	width: 50px;
	margin: 25px 0;
}

.color-separator-full {
	border: 1px solid #ff505a;
	/* width: 50px; */
	margin: 25px 0;
}

.experience p:not(.title) {
	padding: 12px 0;
}

p.title {
	margin-top: 2px;
	color: gray;
	font-size: 12px;
}