$media_queries: (
  'one-column': 'only screen and (max-width: 674px)',
  'two-column': 'only screen and (min-width: 675px)',
  'three-column': 'only screen and (min-width: 998px)',
  'main20': 'only screen and (max-width: 399px)',
  'main5': 'only screen and (max-width: 339px)',
  'main0': 'only screen and (max-width: 309px)',
);

.cards-container {
  @media #{map-get($media_queries, 'one-column')} {
    column-count: auto;
    width: 300px;
  }

  @media #{map-get($media_queries, 'two-column')} {
    column-count: 2;
    width: 600px;
  }

  @media #{map-get($media_queries, 'three-column')} {
    column-count: 3;
    width: 900px;
  }
}

main {
  padding: 0 50px;

  @media #{map-get($media_queries, 'main20')} {
    padding: 0 20px;
  }
  @media #{map-get($media_queries, 'main5')} {
    padding: 0 5px;
  }
  @media #{map-get($media_queries, 'main0')} {
    padding: 0;
    min-width: 300px;
  }
}
